.login {
  padding: 60px 0;
  border: rgb(255, 255, 255) 2px solid;
  background-color: rgba(255, 255, 255, 0.096);
  animation: infinite 9s border-glow;
  
}
@keyframes border-glow{
  from {  border: rgb(255, 255, 255) 2px solid;}

  50%{border:rgb(0, 225, 255)2px solid;}

  to {border: rgb(255, 255, 255) 2px solid;}}
.login form {
  margin: 0 auto;
  max-width: 320px;
}
.button {
  background-color: rgba(255, 255, 255, 0.13);
  color: rgb(0, 0, 0);
}
.button:hover {
  cursor: pointer;
  background-color: rgb(95, 195, 235);
}
.passWordForm {
  margin-top: 20px;
}
