.item {
    color: red
}
#item-forms{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.form-group{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#items-list{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.displayed-item{
    width: 200px;
    height: 200px;
    display: flex;
    flex-direction: column;
    border: black 4px solid;
    justify-content: center;
    align-items: center;
    padding: 2px;
}