@import url('https://fonts.googleapis.com/css2?family=Gemunu+Libre&display=swap');
#body{
  font-family: 'Gemunu Libre','Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
main {
  text-align: center;
}
h1 {
  color: darkgreen;

  font-size: 80px;
}
div {
  color: black;
  vertical-align: top;
  text-align: right;
}
button {
  background-color: #4caf50; /* Green */
  border: 5px double darkgreen;
  color: black;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition-duration: 0.4s;
  font-family: 'Gemunu Libre','Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
button:hover {
  background-color: #4caf50; /* Green */
  color: white;
}
#logout {
  background-color: black;
  color: lime;
  border-radius: 10px;
  border-color: black;
  padding: 10px 10px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  transition-duration: 0.4s;
}
#logout:hover {
  background-color: black;
  color: white;
}


body {
  background-color: rgb(144, 174, 163);
}

#green {
  background-color: rgb(144, 174, 163);
}

#red {
  background-color: pink;
}

#blue {
  background-color: aqua;
}

.register {
  display: flex;
  height: 90vh;
  justify-content: center;
  align-items: center;
}
.register-form{
  display: flex;
  flex-direction: column;
}
.game{
  text-align: center;
  width: 150px;
  height: 250px;
  display: flex;
  justify-content:space-around;
  align-items:center;
  flex-direction: column;
  flex-wrap: wrap;
  border: black solid 5px;
  margin: 40px;
}
.game:hover{
  border: white solid 5px;
}
.game-list{
  background-color: rgb(126, 151, 126);
  display: flex;
  justify-content:left;
  flex-wrap: wrap;
  border-top: white 5px solid;
  border-bottom: white 5px solid;
}
.game-maker{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.game-icons{
  display: flex;
  justify-content: space-between;
}
.icon{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 45px;
  width: 45px;
  border: black solid 2px;
}
.icon:hover{
  background-color: white;
}
#header-bar{
  display: flex;
  justify-content: space-around;
}

.header-item:hover{
  border-bottom: double white 3px;
}