.form {
    /* padding-right: 40%; */
    display: flex;
    flex-direction: column;

}

.characterImg {
    padding-right: 90%
}

.characterPage {
    margin-right: 40%
}
.attribute-input{
    display: flex;
    flex-direction: column;
    align-items:center;
}
