.log {
    display: flex;
}

.logout {
    margin-right: 10px
}

.header {
    display: flex;
    justify-content: space-evenly;
    border-bottom: 2px solid black;
}

.character-select {
    display: flex;
    margin-top: 10px;
}
.edit-character{
    display: flex;
    justify-content: space-around;
}
.edit-name{
    color: white;
    margin-right: 8px;
    background-color: rgb(2, 184, 190);
    border: white solid 4px;
    padding: 3px;

}
.edit-name:hover{
    cursor: pointer;
    color: gold;

}
.edit-description{
    color: white;
    margin-right: 8px;
    background-color: rgb(255, 102, 0);
    border: white solid 4px;
    padding: 3px;

}
.edit-description:hover{
    cursor: pointer;
    color: gold;
}
.edit{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.game-title {
    text-align: center;
}

.characterId {
    display: flex;
    text-align: center;
   
    justify-content:space-around;
}
.character-info{
    align-items: center;
    text-align: center;
}

.description {
    text-align: center
}

.create {
    background-color: white;
    border-radius: 0px;
    border: 1px black solid;
    height: 50px;
    width: 100px;
    float: left;
    margin: 0px;
    padding: 0px;
    cursor: pointer;
    transition-duration: 0.4s;
    font-size: 20px;
}

.create:hover {
    background-color: #4caf50; /* Green */
    color: white;
    transition-duration: 0.4s;
}

.scorpionImg {
    float: left;
    padding: 0px;
    margin: 0px
}

.submit,
.logout,
.back {
    padding: 0px 5px 5px 5px;
    margin: 0px;
    border: none;
    border-radius: 0%;
    background-color: rgba(0, 0, 0, 0.103);
    height: 20px;
    font-size: 15px;
    border: 1px solid rgb(255, 255, 255);
    margin-left: 10px;
    cursor: pointer;
    align-items: center;
}

a {
    text-decoration: none;
    color: black
}
.characterInput{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #character-creation-screen{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  #new-game{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .log{
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
  }
  #game-title{
    font-weight: bold;
  }
  .attribute{
      width: 20vw;
      display: flex;
      justify-content: space-evenly;
      align-items: flex-start;
  }
  #edit-att{
      display: flex;
      justify-content: flex-start;
      flex-direction: column;
      border: 2px black solid;
      align-items: center;
      height: 100%;
  }
 