
.attribute {
    color: black
}
#attribute-creation{
    display: flex;
    justify-content: center;
    align-items: center;
}
#attribute-drop{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.attributes{
    padding-left: 40px;
    padding-right: 40px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    margin-bottom: 1px;
}
.attributes:hover{
    background-color: skyblue;
}
#attribute-forms{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.form-group{
    display: flex;
    flex-direction: column;
}
.rendering-selected{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#attr-info{
    width: 100vw;
    display: flex;
    justify-content: space-evenly;
}
